.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* ให้เต็มความสูงของหน้าจอ */
    background-color: var(--backgroud-color); /* ใช้สีพื้นหลังที่ต้องการ */
    color: #ffffff; /* สีข้อความ */
  }
  
  .spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #ffffff; /* สีของส่วนที่หมุน */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  