.greeting {
 padding: 100px;
 height: 90vh;
}

.greeting-image img {
  max-width: 650px;
  padding-right: 10px;
  height: auto;
}

.greeting-content {
  h1 {
    font-size: 70pt;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
  }
  p {
    font-size: 20pt;
  }
}

.greet-text {
  display: flex;
  align-items: baseline;
}

.greet-name {
  color: var(--highlight-color);
  margin-left: 10px;
}

.contact-buttons {
  margin-top: 20px; /* ระยะห่างจากข้อความก่อนหน้า */
  display: flex;
  gap: 20px; /* ระยะห่างระหว่างปุ่ม */
}

.circle-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* ขนาดของปุ่ม */
  height: 50px; /* ขนาดของปุ่ม */
  border-radius: 50%; /* ทำให้เป็นวงกลม */
  background-color: #fff; /* สีพื้นหลัง */
  color: #611292; /* สีไอคอน */
  text-decoration: none; /* ไม่มีเส้นใต้ */
  transition: background-color 0.3s; /* เอฟเฟกต์เมื่อเลื่อนเมาส์ */
}

.circle-button:hover {
  background-color: rgb(215, 186, 240); /* เปลี่ยนสีเมื่อเลื่อนเมาส์ */
}

@keyframes slide-up {
  0% {
    transform: translateY(20px); /* เริ่มต้นที่ด้านล่าง */
    opacity: 0; /* เริ่มต้นที่โปร่งใส */
  }
  100% {
    transform: translateY(0); /* จบที่ตำแหน่งเดิม */
    opacity: 1; /* จบที่โปร่งใสปกติ */
  }
}

.greeting-content {
  animation: slide-up 3s ease forwards; /* ใช้ animation ที่สร้างขึ้น */
}

@keyframes wave {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: rotate(0deg); /* ปกติ */
  }
  10% {
    transform: rotate(15deg); /* ยกมือขึ้น */
  }
  30% {
    transform: rotate(-10deg); /* ลดมือลง */
  }
}

.greet-icon {
  display: inline-block; /* เพื่อให้สามารถใช้ transform ได้ */
  animation: wave 1s infinite; /* การโบกมือเป็น loop */
}

