.intro {
  position: relative;
  padding-bottom: 100px;
}

.intro h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.intro-head h1 {
  font-size: 3rem;
}

.intro-content p {
  font-size: 1.5rem;
  font-weight: 300;
}

.contact-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
}

.contact-button .btn {
  background-color: #bd88f2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: box-shadow 0.3s ease;
}

.contact-button .btn:hover {
  background-color: #bd88f2;
  box-shadow: 0 0 10px rgb(229, 147, 147), 0 0 20px rgb(149, 68, 187);
}

.intro-me {
  opacity: 0;
  transform: translateX(20px); 
  transition: opacity 0.5s ease, transform 1s ease; 
}

.intro-me.visible {
  opacity: 1; 
  transform: translateX(0);
}


/* Responsive Media Queries */
/* ปรับให้ซ่อนเมนูในหน้าจอขนาดเล็ก */
@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .intro-img img {
    display: none;
  }

  .intro-head h1 {
    font-size: 2.3rem;
  }

  .intro-content p {
    font-size: 16pt;
  }

  .contact-button {
    display: none;
  }

  .contact-button .btn {
    background-color: #bd88f2;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: box-shadow 0.3s ease;
  }
}

/* ipad responsive */
@media (min-width: 768px) and (max-width: 1200px) {
  .intro-img img{
    display: none;
  }

  .intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    right: 20%;
  }

  .contact-button {
    display: none;
  }
}

@media (min-width: 1201px) and (max-width: 1500px) {
  .intro-img img {
    max-width: 500px;
  }

  .intro {
    height: 100vh;
  }
  
  .contact-button {
    position: absolute;
    height: 170px;
  }
}

/* ipad pro res
@media (max-width: 1366px) {
  .intro {
    height: 50vh;
  }

  .intro-me {
    opacity: unset;
    transform: unset; 
    transition: opacity 0.5s ease, transform 1s ease; 
  }

  .intro-me.visible {
    opacity: unset; 
    transform: unset;
  }
} */
