.intro {
    background: linear-gradient(135deg, rgba(50, 50, 50, 0.8), rgba(0, 0, 0, 0.8)), 
    radial-gradient(circle, rgb(71, 71, 71), rgba(25, 25, 25, 1));
    color: #fff;
    padding: 60px 20px; 
    text-align: center; 
  }
  
  .intro-content {
    max-width: 800px; /* จำกัดความกว้างของเนื้อหา */
    margin: 0 auto; /* จัดให้อยู่ตรงกลาง */
  }
  
  .intro h1 {
    font-size: 2.5rem; /* ขนาดตัวอักษรที่ใหญ่ขึ้น */
    margin-bottom: 20px; /* ระยะห่างระหว่างหัวข้อและเนื้อหา */
    letter-spacing: 1px; /* เพิ่มระยะห่างระหว่างตัวอักษร */
  }
  
  .intro p {
    font-size: 1.4rem; /* ขนาดตัวอักษรของเนื้อหา */
    line-height: 1.6; /* เพิ่มระยะห่างระหว่างบรรทัดเพื่อให้อ่านง่าย */
    margin: 10px 0; /* ระยะห่างระหว่างย่อหน้า */
  }
  
  .highlight-intro {
    color: rgb(158, 76, 236);
  }
  
  