.row{
  padding-top: 80px;
}

.about-me {
  padding-left: 150px !important;
}

.me-img img {
  max-width: 650px;
  padding-right: 10px;
  height: auto;
}

.about-me h1 {
    font-size: 40pt;
    font-weight: 400;
}

.about-me p {
  font-size: 20pt;
  font-weight: 300;
}

.tech-header {
  font-size: 26pt;
  padding-top: 100px;
}

/* ตั้งค่า style สำหรับ techset */
.techset {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: unset;
}

.tech-card {
  margin-bottom: 20px;
}

.card-body {
  position: relative;
}

.card {
  border-radius: 10px;
  background-color: #faf8fa08 !important;
  padding: 40px;
  text-align: center;
  border: 2px solid rgba(91, 21, 172, 0.747);
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  border-color: rgba(91, 21, 172, 0.9);
  background-color: #b772dfa4 !important;
}

.tech-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.card:hover .tech-icon {
  opacity: 0.5;
}

.card-title {
  font-size: 16pt;
  font-weight: 600;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.card:hover .card-title {
  opacity: 1;
  color: rgb(223, 163, 241);
  font-size: 15pt;
  font-weight: 400;
}

.card-text {
  font-size: 14px;
  color: #9da5ab;
}

/* progress bar */
.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.card:hover .progress-bar {
  opacity: 0;
  transition: opacity 0.2s ease; 
}

progress[value]::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
}

progress[value]::-webkit-progress-value {
  background-color: #573c97; 
  border-radius: 5px;
}

progress[value]::-moz-progress-bar {
  background-color: #6a1b9a; 
  border-radius: 5px;
}

/* language circular */
.language-container {
  margin-top: 30px;
}

.language-details {
  margin-bottom: 20px;
}

.language-info { 
  text-align: left; 
  color: white;
  font-size: 16pt;
}

.language-level {
  font-weight: 300; 
}

.skill-card {
  background-color: #fff;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  margin: 10px; 
  width: 80%; /* หรือค่าที่คุณต้องการ เช่น 50% */
  max-width: 500px; /* ลดขนาดสูงสุดของการ์ด */
}

.language-icons {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 40px; 
}

.icon-container {
  position: relative;
  width: 70px; 
  height: 70px; 
}

.skill-icon {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 30px; 
  height: 30px; 
}

.skill-label {
  font-size: 1rem;
  color: #666; 
}


/* Responsive Media Queries */
/* sm display responsive */
@media (max-width: 767px) {
  .no-gutters {
    --bs-gutter-x: 0 !important; 
    --bs-gutter-y: 0 !; 
  }
  
  .about-me {
    padding-left: 10px !important; 
    width: 90% !important;
  }

  .about-me h1 {
    font-size: 25pt;
  }
  
  .about-me p {
    text-align: center;
    font-size: 14pt;
  }

  .tech-card {
    width: 300px !important;
  }

  .me-img {
    display: none;
  }

  .icon-container {
    position: relative;
    width: 50px; 
    height: 50px; 
  }

  .skill-icon {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 20px; 
    height: 20px; 
  }
}

@media (min-width: 768px) and (max-width: 1340px) {
  .no-gutters {
    --bs-gutter-x: 0 !important; 
    --bs-gutter-y: 0; 
  }
  
  .about-me {
    padding-left: 10px !important; 
    width: 90% !important;
  }
  
  .me-img  {
    display: none;
  }
}