.row{
  padding-top: 80px;
}

.about-me {
  padding-left: 150px !important;
}

.me-img img {
  max-width: 650px;
  padding-right: 10px;
  height: auto;
}

.about-me h1 {
    font-size: 40pt;
    font-weight: 400;
}

.about-me p {
  font-size: 20pt;
  font-weight: 300;
}

.tech-header {
  font-size: 26pt;
  padding-top: 100px;
}

/* ตั้งค่า style สำหรับ techset */
.techset {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: unset;
}

.tech-card {
  margin-bottom: 20px;
}

.card-body {
  position: relative;
}

.card {
  border-radius: 10px;
  background-color: #faf8fa08 !important;
  padding: 40px;
  text-align: center;
  border: 2px solid rgba(91, 21, 172, 0.747);
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  border-color: rgba(91, 21, 172, 0.9);
  background-color: #b772dfa4 !important;
}

.tech-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.card:hover .tech-icon {
  opacity: 0.5;
}

.card-title {
  font-size: 16pt;
  font-weight: 600;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.card:hover .card-title {
  opacity: 1;
  color: rgb(223, 163, 241);
  font-size: 15pt;
  font-weight: 400;
}

.card-text {
  font-size: 14px;
  color: #9da5ab;
}