@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

:root {
  --hover-color: #dc6f6f;
  --primary-color: #fff; 
  --subtext-color: gray;
  --bar-color: rgb(25, 25, 25);
  --backgroud-color: rgba(32, 32, 32, 1);
  --highlight-color: rgba(255, 51, 102, 1);
  --btn-color: rgba(156, 110, 202, 0.715);
}

body {
  background-image: url('../public/newbg.jpg');
  background-size: cover;
  background-position: center; 
  /* background-repeat: no-repeat; */
  /* background-image: linear-gradient(50deg, rgb(45, 22, 63) 0%, rgb(60, 24, 67) 35%, rgb(52, 28, 66) 61%, rgb(61, 14, 61) 100%); */
  /* background-image: radial-gradient(circle, rgb(42, 29, 63), rgb(23, 5, 43)); */
  color: #ffffff; 
  font-family: "Josefin Sans", sans-serif;
} 

/* กำหนดความกว้างของ scrollbar */
::-webkit-scrollbar {
  width:  7px; 
}

/* กำหนดสีและลักษณะของ thumb (ส่วนที่สามารถเลื่อน) */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.55); /* เปลี่ยนสีที่นี่ */
  border-radius: 12px; 
}

/* กำหนดสี thumb เมื่อ hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 255, 0.8); /* เปลี่ยนเป็นสีที่ต้องการ */
}

/* กำหนดสีพื้นหลังของ scrollbar track (ส่วนที่อยู่หลัง thumb) */
::-webkit-scrollbar-track {
  background: rgba(66, 32, 116, 0.664); /* เปลี่ยนสีที่นี่ */
}

