@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hover-color: #dc6f6f;
  --primary-color: #fff; 
  --subtext-color: gray;
  --bar-color: rgb(25, 25, 25);
  --backgroud-color: rgba(32, 32, 32, 1);
  --highlight-color: rgba(255, 51, 102, 1);
}

body {
  background-image: radial-gradient(circle, rgb(42, 26, 62), rgba(25, 25, 25, 1));
  color: #ffffff; 
  font-family: "Josefin Sans", sans-serif;
}

/* กำหนดความกว้างของ scrollbar */
::-webkit-scrollbar {
  width:  7px; 
}

/* กำหนดสีและลักษณะของ thumb (ส่วนที่สามารถเลื่อน) */
::-webkit-scrollbar-thumb {
  background: rgba(156, 110, 202, 0.715); /* เปลี่ยนสีที่นี่ */
  border-radius: 12px; 
}

/* กำหนดสี thumb เมื่อ hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 255, 0.8); /* เปลี่ยนเป็นสีที่ต้องการ */
}

/* กำหนดสีพื้นหลังของ scrollbar track (ส่วนที่อยู่หลัง thumb) */
::-webkit-scrollbar-track {
  background: rgb(65, 16, 117); /* เปลี่ยนสีที่นี่ */
}

